<div class="nav-header pb-15 pt-15">
    Accent color
</div>
<div
    class="d-grid grid-columns-4 grid-rows-gap-2 grid-columns-gap-1 pl-10 pr-10"
    id="accent-color-picker"
>
    <% window.LoadedData.uiColors.accents.forEach(function(color) { %>
        <div
            class="text-center flex-fill cursor-pointer color-picker-btn p-5 br-rad-6"
            data-type="accent"
            data-name="<%= color.color_name %>"
        >
            <div
                class="d-inline-block w-25 h-25 br-rad-half ui-accent-bg-<%= color.color_name %>"
            ></div>
            <div class="fs-14"><%= color.title %></div>
        </div>
    <% }) %>
</div>
<div class="nav-header pt-20 pb-15">
    Sidebar background color
</div>
<div
    class="d-grid grid-columns-4 grid-rows-gap-2 grid-columns-gap-1 pl-10 pr-10"
    id="sidebar-bg-color-picker"
>
    <% window.LoadedData.uiColors.backgrounds.forEach(function(color) { %>
        <div
            class="text-center flex-fill cursor-pointer color-picker-btn p-5 br-rad-6"
            data-type="sidebar"
            data-name="<%= color.color_name %>"
        >
            <div
                class="d-inline-block w-25 h-25 br-rad-half ui-bg-<%= color.color_name %>"
            ></div>
            <div class="fs-14"><%= color.title %></div>
        </div>
    <% }) %>
</div>
<div class="nav-header pt-20 pb-15">
    Header background color
</div>
<div
    class="d-grid grid-columns-4 grid-rows-gap-2 grid-columns-gap-1 pl-10 pr-10"
    id="header-bg-color-picker"
>
    <% window.LoadedData.uiColors.backgrounds.forEach(function(color) { %>
        <div
            class="text-center flex-fill cursor-pointer color-picker-btn p-5 br-rad-6"
            data-type="header"
            data-name="<%= color.color_name %>"
        >
            <div
                class="d-inline-block w-25 h-25 br-rad-half ui-bg-<%= color.color_name %>"
            ></div>
            <div class="fs-14"><%= color.title %></div>
        </div>
    <% }) %>
</div>
<div class="nav-header pt-20 pb-15">
    Header background color variant
</div>
<div class="text-center" id="header-bg-color-variant-picker">
    <div class="btn-group btn-group-sm">
        <button
            class="btn btn-success"
            data-name=""
            data-type="header"
            type="button"
        >
            Normal
        </button>
        <button
            class="btn btn-dark"
            data-name="lighter"
            data-type="header"
            type="button"
        >
            Lighter
        </button>
        <button
            class="btn btn-dark"
            data-name="darker"
            data-type="header"
            type="button"
        >
            Darker
        </button>
    </div>
</div>

<div class="nav-header pt-20 pb-15">
    Footer background color
</div>
<div
    class="d-grid grid-columns-4 grid-rows-gap-2 grid-columns-gap-1 pl-10 pr-10"
    id="footer-bg-color-picker"
>
    <% window.LoadedData.uiColors.backgrounds.forEach(function(color) { %>
    <div
        class="text-center flex-fill cursor-pointer color-picker-btn p-5 br-rad-6"
        data-type="footer"
        data-name="<%= color.color_name %>"
    >
        <div
            class="d-inline-block w-25 h-25 br-rad-half ui-bg-<%= color.color_name %>"
        ></div>
        <div class="fs-14"><%= color.title %></div>
    </div>
    <% }) %>
</div>
<div class="nav-header pt-20 pb-15">
    Footer background color variant
</div>
<div class="text-center" id="footer-bg-color-variant-picker">
    <div class="btn-group btn-group-sm">
        <button
            class="btn btn-success"
            data-name=""
            data-type="footer"
            type="button"
        >
            Normal
        </button>
        <button
            class="btn btn-dark"
            data-name="lighter"
            data-type="footer"
            type="button"
        >
            Lighter
        </button>
        <button
            class="btn btn-dark"
            data-name="darker"
            data-type="footer"
            type="button"
        >
            Darker
        </button>
    </div>
</div>

<script type="application/javascript">
    var containers = {
        accent: $('#accent-color-picker'),
        sidebar: $('#sidebar-bg-color-picker'),
        header: $('#header-bg-color-picker'),
        footer: $('#footer-bg-color-picker'),
    };
    var variantContainers = {
        header: $('#header-bg-color-variant-picker'),
        footer: $('#footer-bg-color-variant-picker'),
    }
    var colors = {
        accent: window.LoadedData.uiColors.accents[0].color_name,
        sidebar: window.LoadedData.uiColors.backgrounds[0].color_name,
        header: window.LoadedData.uiColors.backgrounds[0].color_name,
        footer: window.LoadedData.uiColors.backgrounds[0].color_name,
    };
    var colorVariants = {
        header: 'lighter',
        footer: 'lighter'
    }
    
    var compileClasses = function () {
        var classes = '';
        for (var prefix in colors) {
            classes += prefix + '-' + colors[prefix] + ' ';
        }
        for (prefix in colorVariants) {
            if (colorVariants[prefix] && colorVariants[prefix] !== '') {
                classes += prefix + '-' + colorVariants[prefix] + ' ';
            }
        }
        return classes;
    }

    var onColorSelect = function (type, newColor) {
        containers[type]
            .find('.color-picker-btn')
                .removeClass('ui-bg-gray-lighter text-dark')
                .end()
            .find('[data-name="' + newColor + '"]')
                .addClass('ui-bg-gray-lighter text-dark');
        $(document.body).removeClass(compileClasses());
        colors[type] = newColor;
        $(document.body).addClass(compileClasses());
    }
    
    var onColorVariantSelect = function (type, newBgColorVariant) {
        variantContainers[type]
            .find('button')
                .removeClass('btn-success btn-dark')
                .addClass('btn-dark')
                .filter('[data-name="' + newBgColorVariant + '"]')
                    .removeClass('btn-dark')
                    .addClass('btn-success');
        $(document.body).removeClass(compileClasses());
        colorVariants[type] = newBgColorVariant;
        $(document.body).addClass(compileClasses());
    }

    var bodyClass = $(document.body).attr('class');
    var matches, regexp;

    for (type in colorVariants) {
        // get starter value
        regexp = new RegExp(type + '-(lighter|darker)');
        matches = bodyClass.match(regexp);
        if (matches !== null) {
            colorVariants[type] = matches[1];
        }
        onColorVariantSelect(type, colorVariants[type]);
        bodyClass = bodyClass.replace(regexp, '');
        // init picker buttons
        variantContainers[type].on('click', 'button', function () {
            var newVariant = $(this).attr('data-name');
            var type = $(this).attr('data-type');
            onColorVariantSelect(type, newVariant);
            return false;
        });
    }

    for (var type in containers) {
        // get starter value
        matches = bodyClass.match(new RegExp(type + '-([a-z0-9-]+)'));
        if (matches !== null) {
            colors[type] = matches[1];
        }
        onColorSelect(type, colors[type]);
        // init picker buttons
        containers[type].on('click', '.color-picker-btn', function () {
            var color = $(this).attr('data-name');
            var type = $(this).attr('data-type');
            onColorSelect(type, color);
            return false;
        });
    }
    
</script>