<% /*
it = {
    items: Array[MenuItem],
    class: ?string
    id: ?string
}
*/ %>

<% var menuId = it.id || ('sidebar-menu-' + PeskyUI.uuid4()) %>
<ul
    class="sidebar-menu flex-column <%= it.class || '' %>"
    data-widget="nested-menu"
    role="menu"
    id="<%= menuId %>"
>
    <% it.items.forEach(function (menuItem) { %>
        <%~ include('sidebar-left-menu-item', menuItem) %>
    <% }); %>
</ul>

<script type="application/javascript">
    var $menu = $('#<%= menuId %>')
    PeskyUI.initSidebarNestedMenu($menu);
    var isMainContent = true;
    $menu.on('click', 'a.nav-link[href]', function () {
        var $link = $(this);
        var url = $link.attr('href');
        if (url === '#' || url.match(/javascript:\s*void\(0\)/) !== null) {
            return; // Not a valid URL
        }
        $menu.find('.nav-item.active').removeClass('active');
        $link.closest('.nav-item').addClass('active');
        if (isMainContent) {
            isMainContent = false;
            PeskyUI.switchContent($.get('/pages/dashboard2.html'));
        } else {
            isMainContent = true;
            PeskyUI.switchContent($.get('/pages/dashboard.html'));
        }
        return false;
    });
</script>