<% /*
it = {
    icon: ?string, // html, overrides icon_class
    icon_class: ?string,
    title: string,
    url: ?string,
    badge: null | string | {
        type: string,
        value: string
    },
    children: Array[MenuItem]
}
or
it = {
    header: string
}
*/ %>

<% if (it.header) { %>
    <li class="nav-header"><%~ it.header %></li>
<% } else { %>
    <% var hasChildren = it.children && it.children.length > 0; %>
    <li class="nav-item <%= it.class || '' %> <%= hasChildren ? 'has-submenu ' : '' %>">
        <a
            href="<%= it.url || 'javascript: void(0)' %>"
            class="nav-link"
        >
            <% if (it.icon) { %>
                <%~ it.icon %>
            <% } else if (it.icon_class) { %>
                <i class="nav-icon <%= it.icon_class %>"></i>
            <% } %>
            
            <div class="nav-link-title">
                <%~ it.title %>
            </div>
            
            <% if (it.badge) { %>
                <% if ($.isPlainObject(it.badge)) { %>
                    <span class="right badge badge-<%= it.badge.type %>">
                        <%= it.badge.value %>
                    </span>
                <% } else { %>
                    <%~ it.badge %>
                <% } %>
            <% } %>
    
            <% if (hasChildren) { %>
                <i class="chevron mdi mdi-chevron-right"></i>
            <% } %>
        </a>
        <% if (hasChildren) { %>
            <ul class="nav-submenu">
                <% it.children.forEach(function(menuItem) { %>
                    <%~ include('sidebar-left-menu-item', menuItem); %>
                <% }); %>
            </ul>
        <% } %>
    </li>
<% } %>