@use "sass:map";

@mixin hover-linear-gradient($color) {
    background: linear-gradient(90deg, fade-out($color, 1) 0%, fade-out($color, 0.5) 75%, $color 100%);
}

#left-sidebar,
#right-sidebar {
    overflow: hidden;
    height: 100vh;
    z-index: 200;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;

    &.hidden {
        display: none;
    }

    .scrollable {
        flex: 1;
        overflow: hidden;

        .ss-scroll {
            border-radius: 0;
        }
    }

    ul.sidebar-menu {

        &,
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .nav-item {
            position: relative;
            font-size: 0.9rem;

            > .nav-link {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                padding-left: 0.5rem;
                transition: background-color $transition-fn $transition-speed;

                > * {
                    z-index: 2;
                }

                .nav-link-title {
                    flex: 1
                }

                .chevron {
                    transition: transform $transition-fn $transition-speed;
                    margin-left: .5rem;
                }

                .right {
                    margin-left: .5rem;
                }

                .badge {
                    font-size: 80%;
                }
            }

            &.active {
                > .nav-link:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 50%;
                    height: 100%;
                    @include hover-linear-gradient($gray-500);
                    z-index: 1;
                }
            }
        }

        .menu-open {
            > .nav-link {
                .chevron {
                    transform: rotate(90deg);
                }
            }
        }

        // First Level
        > .nav-item {
            margin-bottom: 0;

            .nav-icon {
                margin-left: .05rem;
                font-size: 1.1rem;
                line-height: 1.1rem;
                margin-right: .3rem;
                text-align: center;
                width: $sidebar-icon-width;
            }
        }

        // submenu
        .nav-submenu {
            display: none;
            list-style: none;
            padding: 0;
            background-color: $gray-100;

            > .nav-item {
                > .nav-link {
                    font-size: 0.8rem;
                    padding: 0.3rem 1rem 0.3rem 1rem;

                    > .nav-icon {
                        width: $sidebar-icon-width - 2px;
                        font-size: 0.8rem;
                    }
                }

                // 3rd level and deeper
                .nav-submenu {
                    > .nav-item > .nav-link {
                        padding-left: 1.5rem;
                    }
                }
            }
        }

        .nav-header {
            font-size: .9rem;
            padding: .5rem;
            min-height: 30px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;

            &:not(:first-of-type) {
                padding: 1rem 1rem .5rem 1rem;
            }
        }

        .nav-link-title {
            display: inline-block;
            animation-name: fadeIn;
            animation-duration: $transition-speed;
            animation-fill-mode: both;
            margin: 0;
        }

    }
}

#left-sidebar {
    width: $sidebar-full-width;

    #left-sidebar-header {
        height: $left-sidebar-logo-height;
        width: 100%;
    }

    &.collapsed {
        width: $sidebar-collpased-width;
    }
}

#right-sidebar {
    width: $sidebar-full-width;

    &.collapsed {
        width: $sidebar-collpased-width;
    }

}

@each $bg-color-name, $bg-color in $ui-bg-colors {
    @each $accent-color-name, $accent-color in $ui-accents {
        body.sidebar-#{$bg-color-name}-#{$accent-color-name} {
            #left-sidebar,
            #right-sidebar {
                background-color: $bg-color;
                color: map-get($ui-sidebar-text-colors, $bg-color-name);

                .ss-scroll {
                    @if map-get($ui-is-dark-bg, $bg-color-name) {
                        background-color: rgba(255, 255, 255, 0.4);
                    } @else {
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                }

                ul.sidebar-menu {
                    .nav-item {
                        > .nav-link {
                            color: map-get($ui-sidebar-text-colors, $bg-color-name);

                            &:hover {
                                background-color: $accent-color;
                            }

                            @if map-get($ui-is-dark-bg, $bg-color-name) {
                                @each $theme-color-name, $theme-color in $theme-colors {
                                    .badge-#{$theme-color-name} {
                                        background-color: lighten($theme-color, 15%);
                                    }

                                    .nav-icon.text-#{$theme-color-name} {
                                        color: lighten($theme-color, 20%) !important;
                                    }
                                }
                            }
                        }

                        &.active {
                            > .nav-link:after {
                                @include hover-linear-gradient($accent-color);
                            }
                        }
                    }

                    .nav-header {
                        color: map-get($ui-sidebar-text-colors, $bg-color-name);
                    }

                    .nav-submenu {
                        @if map-get($ui-is-dark-bg, $bg-color-name) {
                            background-color: lighten($bg-color, 10%);
                        } @else {
                            background-color: darken($bg-color, 10%);
                        }
                    }
                }
            }
        }
    }
}